* {
  margin: 0px;
  padding : 0px;
}

.links a, p, h1{
  text-decoration: none;
  color: #f9faf8;
}
/*********** SECTION 1 **********/
.section1 {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;

}

/* SECTION 1 HEADER*/
.header {
  display: flex;
  margin : 20px 120px;
  justify-content: space-between;
  gap : 60px;
}

.header-left {
  display: flex;
  flex-shrink: 0;
}

.header-right {
  display: flex;
  align-items: flex-end;
}

ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}

.links {
  display: flex;
  gap : 30px;
}

/*SECTION 1 INTRODUCTION*/
.intro {
  display: flex;
  justify-content: space-between;
  margin : 120px 120px;
  gap : 60px;
}

.intro-left button{
  margin : 10px 0px;
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
}

.intro-left h1 {
  font-size: 48px;
  font-weight: 800 /* extra bold */;
  color: #f9faf8;
  margin : 10px 0px;
}

/******** RANDOM INFORMATION *******/

.random-info {
  display: flex;
  flex-direction: column;
  margin: 50px 120px;
  justify-content: space-evenly;
  align-items: center;
  gap : 20px;
}

.random-info h1{
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.card .card-subtext {
  display: flex;
  margin : 10px;
  justify-content: center;
}
.card-img{
  display: flex;
  flex-basis: 300px;
  max-width: 300px;
}

.card img{
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 15px;
  border-width: 5px;
}

.img {
  object-fit: cover;
}

/*********QUOTE ******/

.quote {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  color: #1f2937;
}

.quote-wrapper{
  display: flex;
  flex-direction: column;
  margin: 100px;
  gap: 20px;
}

.quote-body {
  display: flex;
  max-width: 1200px;
  font-style: italic;
  font-size: 36px;
}

.quote-author {
  display: flex;
  font-weight: 800;
  font-size: 28px;
  justify-content: end;
}

/**** SIGN UP ****/

.signup {
  display: flex;
  background-color: #3882f6;
  margin : 100px 150px;
  padding : 50px 80px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: #e5e7eb;
}

.signup button{
  margin : 10px 0px;
  background-color: #3882f6;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 80px;
  color: #e5e7eb;
}